.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
  background-color: yellow;
}
.square {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
}

.mole {
  background-image: url("mole-svgrepo-com.svg");
  background-size: cover;
}
